*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}  

/*container*/ 

.container{
    width: 700px; 
    
    background-color: #fff;
    margin: 0 auto; 
    height: 50px; 
    margin-top: 40px; 
    border-radius: 5px;
   
} 

.main-contain{
  padding-left: 20px;
  padding-top: 40px; 
  
}

h2{
    display: inline;
}

/*buttons*/ 

.task{
    margin-top: 14px; 
    margin-left: 20px; 
    background-color: #3788f1; 
    border-radius: 4px; 
    padding: 3px; 
    border: none; 
    color: #fff;
} 


.section{
    border-radius: 4px;
    padding: 3px; 
    border: hidden;
} 

/*utilities*/  

body{
    background-color: lightgray;
}
 
.tiket{
    display: inline-block;
    margin: 1px solid white; 
    padding: 4px;
   font-size: smaller; 
   color: #fff; 
   border-radius: 10px;  
   
   

}

/* postit color*/
.blue{
    background-color: rgb(83, 179, 243);
} 
.orange{
    background-color: orange;
} 
.green{
    background-color: rgb(87, 193, 87);
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink; 

}

.lightgreen{
    background-color: greenyellow;
}

/*generals*/  



  #header{
    background-color: #fff; 
    padding: 10px; 
    
  }

  h2{
    font-size: normal; 
    vertical-align: middle;
  }

  .tendina{
    font-size: 12px; 
    vertical-align: middle;
  }



  #logo{
    vertical-align: middle;
  }

  h1{
    display: inline;
    font-size: 40px;
    
    font-weight: 800; 
    vertical-align: middle;
  }

  /* main */
  main{
      width: 700px; 
      
      background-color: #fff;
      margin: 0 auto; 
      width: 50%; 
      margin-top: 5px; 
      border-radius: 5px;
  }




  .to-do{
    padding-top: 15px; 
    padding-bottom: 15px;
  } 
    
  
    
  


  span{
    margin-top: 15px;
    
  }
/* chek and not chek*/ 
  .not-done{ 
    display: inline-block;
    border: 1px solid red; 
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    color: red;
   padding-bottom: 4px;
  } 


  .done{
    display: inline-block;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    color: green;
    
      }